body {
    padding-left: 10px;
    width: 1024px;
    margin:0 auto;
    border: 1px solid black;
}
h1 {
    text-align: center;
}
img {
    float: right;
    margin-right: 10px;
    width: 120px;
    height: 150px;
}
.sub2 {
    text-decoration: underline;
    padding-top: 25px;
}
p {
    margin: 0;
}
.blank {
    height: 20px;
    width: 100%;
}
.ervaring {
    padding: 15px;
}