@media only screen and (max-width: 970px) {

.first-page {
    min-height: 100vh;
    flex-direction: row;
    background-image: url(../images/Background-mob.jpg);
}
.hello {
    padding-top: 20%; 
    padding-left: 5%;
    height: 20%;
}
.me {
    margin: 0;
    margin-bottom: 2%;
    border-radius: 50%;
    width: 20%;
    height:20%;
    opacity: 0.8;
}

.p2-con-1 {
    width: 47%;
    min-height:30rem;
}
.explanation {
    font-size:1.3rem;
    text-align: left;
}
.fab {
    font-size: 5vw;
}
}